// Menu wrapper
.menu-list {
    width: 22.4rem;
}

.menu-popper {
    padding: 8px 0;
}

// Menu item
.menu-item {
    width: 100%;
    justify-content: flex-start;
    padding: 11px 16px;
    border-radius: 0;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.menu-item + .menu-item {
    margin-left: 0;
}
