.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-width: 360px;
    --search-top-space: 9px;
    --search-btn-width: 52px;
    --icon-color: rgba(22, 24, 35, 0.34);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link {
    display: flex;
}

// action
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 2rem;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    color: #161823;
    background-color: transparent;
    margin: 0 10px;
    cursor: pointer;
}

// user login
.user-avatar {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: cover;
    border-radius: 99.9rem;
    margin-left: 1.2rem;
    cursor: pointer;
}

.inbox-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.inbox-notice {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 100%;
    color: var(--white);
    background-color: var(--primary);
    top: -10px;
    right: 6px;
    display: none;

    &.active {
        display: block;
    }
}
